html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', Courier, monospace;
    }

header, footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 32px;
    list-style: none;
    gap: 32px;
}

.menulinktext {
    color: rgb(229,231,235);
}

.menulink {
    margin-top: 20px;
}

.logo {
    margin-right: auto;
    padding-top: 20px;

}

.logotext {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.front {
    display: flex;
    margin: 64px 32px 16px;
    height: 400px;
    flex: 1 1 auto;
}

.mission {
    height: 300px;
    flex-wrap: wrap;
    max-width: 50%;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.estimate {
    background-color: #3B82F6;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    border-radius: 12px;
}

.estimate:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

.poster {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 300px;
    max-width: 50%;

    /* Determine image placement regardless of aspect ratio*/
    border: 2px dotted rgb(109,116,125); 
 
}

.poster image {
    object-fit: cover;
    width: 100%;
    height: auto;
    flex: 1;
}

.reviewcontainer {
    background-color: rgb(229,231,235);
}

a {
    text-decoration: none;
}

.process {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.cardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;

}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 16%;
    flex: 0 0 auto;
    min-width: 160px;
}

.cards img {
    max-width: 100%;
    height: 180px;
    /* Determine image placement regardless of aspect ratio*/
    border: 4px solid #3B82F6;
    border-radius: 12px;
    object-fit: cover;
}

.cards p {
    color: rgb(75,85,99);
    font-weight: 500;
}

.reviewcontainer {
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewbox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    flex-direction: column;
}

.reviewbox p:nth-child(1) {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: auto 32px;
}

.reviewbox p:nth-child(2) {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    margin: auto 32px;
    align-self: flex-end;
}

.calltoactionsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    background-color: #3B82F6;
    max-width: 80%;
    margin: 32px;
    border-radius: 12px;
    display: flex;
    color: #F9FAFB;
    justify-content: center;
    align-items: center;
}

.calltoaction .estimate {
    border: 2px solid #F9FAF8;
    margin: 16px 32px;
}

.calltoaction .estimate:hover {
    border: 1x solid #F9FAF8;
    background-color: #F9FAF8;
    color: #3B82F6;
    margin: 16px 32px;
}

.calltoactioncontent {
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.calltoactioncontent h2 {
    color: #F9FAFB;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white; 
}
